body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#game-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
}



#words-container,
#definitions-container {
    padding: 1rem;
    max-width: 45%;
    min-height: 300px;
    overflow-y: auto;
}

#words-container {
    max-width: 50%;
}

#words-container span {
    color: rgb(20, 2, 2);
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: #d6a98ca8;
    overflow: auto;
}

#definitions-container span {   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    background-color: #e8e892a4;
    height: 3rem;
    overflow: scroll;
}

#score-container {
    margin-top: 1rem;
}

#play-again-button {
    position: relative;
    bottom: 1%;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #88bbea;
    z-index: 3;
}

#message-container {
    font-weight: bold;
    margin: 1rem 0; 
}

#review-container {
    position: fixed; /* Make it fixed to stay in place */
    bottom: 20%; /* Top position */
    left: 10%; /* Left position */
    width: 80%; /* Full width */
    height: 60%; /* Full height */
    background-color: rgba(20, 1, 1, 0.084); /* Transparent overlay */
    display: flex; /* Allow centering content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    z-index: 0;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }


.word-pair {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;
    width: 100%;
}

.formula-word, .name-word {
    width: 100%;
    margin: 0;
    padding: 0;
}
